<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Messaging App</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <ng-container *ngIf="(accountService.currentUser$ | async)">
                <li class=" nav-item ">
                    <a class="nav-link " routerLinkActive="active " routerLink="/members">Find People</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLinkActive="active " routerLink="/lists">Lists</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLinkActive="active " routerLink="/messages">Your Messages</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLinkActive="active " routerLink="/errors">Your Errors</a>
                </li>
            </ng-container>
        </ul>

        <!-- <div class="dropdown " *ngIf="loggedIn " dropdown>
            <a href=" " class="dropdown-toggle text-login " dropdownToggle> Welcome user </a>
            <div class="dropdown-menu " bsDropdown>
                <a href=" " class="dropdown-item ">Edit Profile</a>
                <div class="dropdown-divider "></div>
                <a href=" " class="dropdown-item " (click)="logout() ">Logout</a>
            </div>

        </div> -->


        <form *ngIf="(accountService.currentUser$ | async)=== null " #loginForm="ngForm" class="d-flex " (ngSubmit)="login() " autocomplete="off ">
            <input name="username " [(ngModel)]="model.username " class="form-control me-2 " type="text " placeholder="Username " required>

            <input name="password " [(ngModel)]="model.password " class="form-control me-2 " type="password " placeholder="Password " required>

            <button class="btn btn-outline-light " type="submit ">Login</button>
        </form>
        <ng-container *ngIf="(accountService.currentUser$ | async) as User">

            <a class="nav-link ">Welcome {{User.username}}</a>
        </ng-container>
        <form *ngIf="(accountService.currentUser$ | async) !== null " class="d-flex ">
            <button class="btn btn-outline-danger " (click)="logout() " type="submit ">Logout</button>
        </form>

    </div>
</nav>
