<form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="registerForm.valid && register()">


    <div class="card card-shadow border-0">
        <div class="card-body">
            <div class="row g-6">
                <div class="col-12">
                    <div class="text-center">
                        <h3 class="fw-bold mb-2">Sign Up</h3>
                        <p>Follow the easy steps</p>
                    </div>
                </div>

                <app-text-input [formControl]="$any(registerForm.controls['username'])" [type]="'text'" [label]="'Username'"></app-text-input>
                <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [type]="'text'" [label]="'Known As'"></app-text-input>
                <app-date-input [formControl]="$any(registerForm.controls['dateOfBirth'])" [maxDate]="maxDate" [label]="'Date of Birth'"></app-date-input>
                <app-text-input [formControl]="$any(registerForm.controls['city'])" [type]="'text'" [label]="'City'"></app-text-input>
                <app-text-input [formControl]="$any(registerForm.controls['country'])" [type]="'text'" [label]="'Country'"></app-text-input>
                <app-text-input [formControl]="$any(registerForm.controls['password'])" [type]="'password'" [label]="'Password'"></app-text-input>
                <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [type]="'password'" [label]="'Confirm Password'"></app-text-input>
                <div class="form-inline">
                    <label class="me-2">I am a:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                    </div>
                </div>

                <div class="row " *ngIf="validationErrors">
                    <ul class="text-danger">
                        <li *ngFor="let error of validationErrors">
                            {{error}}
                        </li>
                    </ul>
                </div>


                <div class="col-12 text-center">
                    <button class=" btn btn-lg btn-danger" type="button" (click)=" cancel()">Cancel</button>
                    <button [disabled]="!registerForm.valid" class="btn btn-block btn-lg btn-primary ms-1" type="submit">Create Account</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Text -->
    <div class="text-center mt-8">
        <p>Already have an account? <a href="./signin.html">Sign in</a></p>
        <p class=" mb-3 text-muted">© 2021–2022</p>

        <p>Form value: {{registerForm.value | json}}</p>
        <p>Form status: {{registerForm.status}}</p>
    </div>

</form>